@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-family:'Roboto',sans-serif;
    }
}


body{
background-color: #000;
overflow-x: hidden;
}

img{
object-fit: cover;
max-width: 100%;
height: auto;
}

.hamburger-menu{
width: 30px;
height: 30px;
display: none;
flex-direction: column;
cursor: pointer;
align-items: center;
justify-content: center;
position: relative;
}

.hamburger-menu > .bar{
width: 100%;
height: 2px;
background-color: #fff;
position: absolute;
transition: all 250ms linear;
transform: rotate(0);
}

.hamburger-menu > .bar:first-child{
top: 0;
}

.hamburger-menu > .bar:nth-child(2){
top:10px;
}

.hamburger-menu > .bar:nth-child(3){
top: 20px;
}

.hamburger-menu.active > .bar:nth-child(2){
display: none;
}

.hamburger-menu.active > .bar:first-child{
transform: rotate(-50deg);
top:8px;
}

.hamburger-menu.active > .bar:nth-child(3){
transform: rotate(50deg);
top: 8px;
}

@media only screen and (max-width:1000px) {
.hamburger-menu{
display: flex;
}
}